{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": false,
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
    "printWidth": 96,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true,
    "svelteSortOrder": "scripts-options-markup-styles",
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
